{#
Reste à faire : Remplir le sujet en modifiant l'entité Project, ou alors ne pas le mettre !
Voir comment on ajoute des liens au formulaire pour pouvoir les afficher
Voir comment on peut ajouter des commentaires
Finir de commenter la vue, afin qu'elle soit lisible de tous !
#}

{% extends 'base.html.twig' %}

{% block body %}

    {# Partie 1 : haute avec titre + 4 icones #}
    <div class="container" id="icon-grid">
        <h1 class="pb-2 border-bottom fs-1">
            {{ project.title }}
        </h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <div>
                    <div class="d-flex align-items-center gap-3">
                        <i class="bi bi-globe2 fs-3"></i>
                        <h4 class="fw-bold mb-0">
                            Subject
                        </h4>
                    </div>
                    <p>
                        {{ project.subject }}
                    </p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div>
                    <div class="d-flex align-items-center gap-3">
                        <i class="bi bi-calendar-check fs-3"></i>
                        <h4 class="fw-bold mb-0">
                            Status
                        </h4>
                    </div>
                    <p>
                        {% if project.isFinished %}
                            Complete
                        {% else %}
                            On going
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div>
                    <div class="d-flex align-items-center gap-3">
                        <i class="bi bi-people fs-3"></i>
                        <h4 class="fw-bold mb-0">
                            Number of collaborators
                        </h4>
                    </div>
                    <p>
                        Il y a {{ project.userProjects|length }} personnes qui participent
                    </p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="d-flex flex-column gap-3">
                    <div class="d-flex align-items-center gap-3">
                        <i class="bi bi-list-nested fs-3"></i>
                        <h4 class="fw-bold mb-0">
                            Technology
                        </h4>
                    </div>
                    <ul class="list-unstyled d-flex gap-1">
                        {% for technology in project.technologies %}
                            <li class="m-0 me-1 p-1 bg-light rounded fs-7">
                                {{ technology.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    {# Fin de la partie 1 #}

    {# Partie 2 : encadré avec toutes les informations #}

    <div class="container d-flex flex-column gap-5">
        <img class="w-100" src="/assets/images/project/{{ project.imageName }}" style="object-fit: cover; max-height: 30rem">

        {# ---------------------------- #}

        <p>{{ project.description }}</p>

        {# ---------------------------- #}

        <div class="d-flex flex-column gap-2">
            <h2 class="fw-bold lh-1">Project roadmap</h2>
            <h6>Mise en place</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ rand1 }}%;" aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100">{{ rand1 }}%</div>
            </div>
            <h6>Home page</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ rand2 }}%;" aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100">{{ rand2 }}%</div>
            </div>
            <h6>Traitement des photos</h6>
            <div class="progress">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ rand3 }}%;"
                     aria-valuenow="25" aria-valuemin="0"
                     aria-valuemax="100">{{ rand3 }}%</div>
            </div>
        </div>

        {# ---------------------------- #}

        <div class="">
            <h2 class="fw-bold lh-1 my-5">Project's links</h2>
            <div class="list-group w-auto my-5">

                {% if project.websiteLink %}
                    <a href="{{ project.websiteLink }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <i class="bi bi-globe fs-3"></i>
                        <div class="d-flex gap-2 w-100 align-items-center justify-content-between">
                            <div>
                                <h6 class="mb-0">Website du projet </h6>
                            </div>
                            <small class="opacity-50 text-nowrap">2 days ago</small>
                        </div>
                    </a>
                {% endif %}

                {% if project.gitHubLink %}
                    <a href="{{ project.gitHubLink }}" class="list-group-item list-group-item-action d-flex justify-content-center gap-3 py-3"
                       aria-current="true">
                        <i class="bi bi-github fs-3"></i>
                        <div class="d-flex gap-2 w-100 align-items-center justify-content-between">
                            <div>
                                <h6 class="mb-0">Repo officiel</h6>
                            </div>
                            <small class="opacity-50 text-nowrap">now</small>
                        </div>
                    </a>
                {% endif %}

                {% if project.slackLink %}
                    <a href="{{ project.slackLink }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <i class="bi bi-slack fs-3"></i>
                        <div class="d-flex gap-2 w-100 align-items-center justify-content-between">
                            <div>
                                <h6 class="mb-0">Slack du projet</h6>
                                <p class="mb-0 opacity-75">Il faut faire une demande pour être accepté</p>

                            </div>
                            <small class="opacity-50 text-nowrap">2 days ago</small>
                        </div>
                    </a>
                {% endif %}

                {% if project.trelloLink %}
                    <a href="{{ project.trelloLink }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <i class="bi bi-pencil-square fs-3"></i>
                        <div class="d-flex gap-2 w-100 align-items-center justify-content-between">
                            <div>
                                <h6 class="mb-0">Trello du projet</h6>
                            </div>
                            <small class="opacity-50 text-nowrap">2 days ago</small>
                        </div>
                    </a>
                {% endif %}

            </div>
        </div>

        {# ---------------------------- #}

        <div class="">
            <h2 class="fw-bold lh-1 my-5">Collaborateurs</h2>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for collaborator in project.userProjects %}
                        <div class="" style="width: 15rem">
                            <div class="card shadow">
                                <img src="{{ collaborator.collaborator.imageUrl }}" alt="">

                                <div class="card-body">
                                    <h6> {{ collaborator.collaborator.firstName}} {{ collaborator.collaborator.lastName}}</h6>
                                    <div class="d-flex gap-1">
                                    {% for skill in collaborator.collaborator.technologies %}
                                        <p class="m-0 me-1 p-1 bg-light rounded fs-7">{{ skill.name }}</p>
                                    {% endfor %}
                                    </div>
{#                                    {{ dump(collaborator.collaborator.technologies) }}#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}



                </div>
            </div>
        </div>

        {# ---------------------------- #}

        <div>
            <h2 class="fw-bold lh-1 my-5">Comments</h2>
            <div class="list-group col-6 my-5">


                {{ form_start(form) }}
                <div>
                    {{ form_widget(form.body, {'attr':
                        {'class': 'd-flex flex-column w-100 p-2'}}) }}
                </div>
                <div class="mt-3 mb-5">
                    {{ form_widget(form.submit, {'attr':
                        {'class': 'btn btn-primary'}}) }}
                </div>

                {{ form_end(form) }}



                {% for comment in comments %}

                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h5 class="mb-2">{{ comment.owner.firstname }} {{ comment.owner.lastname }}</h5>
                                <p class="mb-0 fs-5 opacity-75">
                                    {{ comment.body }}
                                </p>
                            </div>
                            <small class="opacity-50 text-nowrap">2 days ago</small>
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}
